# tooling

jupyterlab
notebook
# not yet released
/Users/tparment/git/jupytext/dist/jupytext-1.15.0.dev1-py3-none-any.whl
# not yet stable
jupyterlab-myst

# not installing this at once,
# and installing afterwards, seems to work better
jupyterlab-courselevels

# would be useful for vs-code but creates some trouble
# as jupyterlab looses its tool, so let's keep it out for now
# ipykernel

# contents
ipympl
matplotlib
ipywidgets >= 8.0

# for examples
sphinxcontrib_mermaid
ipythontutor
nbautoeval
